.form-container{
    width: 600px;
    margin: 0 auto;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.form-title{
    font-size: 35px;
    color:  #2A414F;
    font-weight: 400;
    text-align: center;
}

.input-group label{
    display: block;

}



.input-group input{
    width:  415px;
    height: 55px;
    border: 1px solid rgba(42, 65, 79, 1);
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 24px;
}

.input-group{
    margin-bottom: 20px;
}

.form-submit{
    width: 415px;
    height: 55px;
    background-color: rgba(255, 153, 0, 0.3);
    border: none;
    font-size: 24px;
    border-radius: 5px;
}